doctype html
html
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    meta[name="theme-color" content="#ffffff"]
    link[rel="icon" sizes="192x192" href="/i/layout/favicon.png"]
    title KA.KA.HA Creative digital production
    base[href="/"]
    link[rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"]
    link[rel="stylesheet" href="css/style.css"]
    javascript:

  body

    .debug.js-debug[tabindex="1"]

    .screen.js-screen
        .screen-header
            .screen-header_content
                .screen-header_phonetic.js-lang-phonetic
                    | &nbsp;
                canvas#oscillo.screen-header_canvas

                .screen-header_lang.js-lang-text
                    | &nbsp;


        .screen-logo
            svg.screen-logo_svg.js-screen-btn[version="1.1" id="kakaha_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="250 135 500 230" width="500px" height="230px" xml:space="preserve"]
                path[id="k1" fill="#222222" d="M367.281,249.405v-0.049l-2.231-4.086l23.478-33.717l3.371-4.905h-19.444l-25.471,37.511v-37.511H327.5v80.487    v-0.555v6.771h19.484v-26.318l5.923-7.866l18.875,34.185h11.686h6.478h1.291l-3.863-7.106L367.281,249.405z"]
                path[id="a1" fill="#222222" d="M419.98,206.648h-28.681l-16.181,72.416l-3.171,14.287h17.59l3.195-15.587h23.97l3.278,15.587h19.596 L419.98,206.648z M395.255,266.073l9.294-44.413l0.068,0.234l9.475,44.18L395.255,266.073L395.255,266.073z"]
                path[id="k2" fill="#222222" d="M477.679,249.405v-0.049l-2.231-4.086l23.478-33.717l3.372-4.905h-19.446l-25.47,37.511v-37.511h-19.484v80.487   v-0.555v6.771h19.484v-26.318l5.923-7.866l18.875,34.185h11.687h6.479h1.29l-3.862-7.106L477.679,249.405z"]
                path[id="a2" fill="#222222" d="M530,206.648h-28.681l-16.182,72.416l-3.17,14.287h17.588l3.195-15.588h23.971L530,293.352h19.596L530,206.648z    M505.274,266.073l9.294-44.413l0.068,0.234l9.475,44.18L505.274,266.073L505.274,266.073z"]
                path[id="h" fill="#222222" d="M587.987,206.648v37.019h-21.433v-37.019h-18.997v79.446v0.282v6.975h18.997v-37.02h21.433v37.02h11.228l0,0h8.257 v-41.604v-11.29v-33.81H587.987L587.987,206.648z"]
                path[id="a3" fill="#222222" d="M652.904,206.648h-28.681l-16.182,72.416l-3.171,14.287h17.59l3.195-15.587h23.971l3.277,15.587H672.5    L652.904,206.648z M628.179,266.073l9.293-44.413l0.068,0.234l9.475,44.18L628.179,266.073L628.179,266.073z"]
            .screen-logo_slogan Creative tech digital pigital shmigital super&nbsp;cool&nbsp;production
            a.screen-logo_btn[href="#"] Sleceted works

        .screen-footer
            .screen-footer_addr
                | 107 Birkbeck Road,
                br
                | Sidcup, Kent DA14 4DJ UK
                br
                a[href="tel:+447469796397"] +447 469 796 397
            .screen-footer_email
                a[href="mailto:isd@isd-group.com"]
                    svg[version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="8px" viewBox="0 0 12 8" enable-background="new 0 0 12 8" xml:space="preserve"]
                        path[id="mail" fill="#010101" d="M0,0v8h12V0H0z M9.823,1L5.999,3.409L2.16,1H9.823z M1,7V1.452l5.001,3.139L11,1.44V7H1z"]

    script[src="js/app.js"]
