.btn{

  position: relative;
  display: block;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 10px 21px rgba(0,0,0,.7);
  transform: rotate(0deg);
  transition: all .3s;

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent rgba(255,255,255,.3) rgba(255,255,255,.3) transparent;
    transform: scale(.5) rotate(0deg);
    transition: all .15s;
  }
  &:after{
    transition: all .1s;
  }

  &:hover{
    border-radius: 50%;
    transform: rotate(180deg);
    box-shadow: 0 -10px 21px rgba(0,0,0,.7);

    &:after{
      transform: scale(1.6)  rotate(-225deg);
    }
    &:before{
      transform: scale(2)  rotate(-225deg);
    }
  }
}