.debug{
  position: fixed;
  font-family: monospace;
  // width: calc( 100% - );
  height: auto;
  top: 0;
  right: 20px;
  left: 20px;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 0 0 5px 5px;
  border-top-color: transparent;
  line-height: 1.4em;
  font-size: 11px;
  color: #fff;
  padding: 20px;
  transform: translateY(-100%);
  transition: all .2s;
  z-index: 10;
  background: #0154a7;

  span{
    color: #aeaeae;
  }

  &:after{
    content: 'debug';
    position: absolute;
    cursor: pointer;
    right: 20px;
    text-align: center;
    padding: 2px 15px 4px;
    bottom: -21px;
    height: 22px;
    border-radius: 0 0 3px 3px;
    border: 1px solid rgba(255,255,255,.3);
    border-top-color: transparent;
    background: #0154a7;
    box-shadow: 0 4px 5px rgba(0,0,0,.3);
  }

  &:focus{
    top: -1px;
    transform: translateY(2%);
    outline: none !important;
    box-shadow: 0 4px 5px rgba(0,0,0,.3);

    &:after{
      pointer-events:none;
    }
  }
}