$breakpoints: (
  'minHeight': 660px,
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px );

.screen{

  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;

  &-header{
    width: 100%;
    height: 1px;
    padding-top: 30vh;
    border-bottom: 1px solid #efefef;

    @include media('<=tablet') {

      padding-top: 20vh;

    }

    &_content{
      max-width: 375px;
      height: 75px;
      margin: -36px auto 0;
      font-size: 12px;
      white-space: nowrap;
      text-align: center;
      // display: flex;
      // flex-flow: row;
      // flex-wrap: nowrap;
      // justify-content: center;
      // align-items: center;
      @include media('<=tablet') {

        max-width: 300px;
        font-size: 9px;

      }
    }

    &_canvas{
      display: inline-block;
      vertical-align: middle;
      width: 146px;
      height: 75px;
      background: #fff;
      @include media('<=tablet') {

        width: 50px;

      }
    }
    &_phonetic,
    &_lang{
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px;
      // width: 200px;
      min-height: 10px;
      background: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      white-space: nowrap;
    }
  }

  &-logo{

    text-align: center;

    &_svg {


      *{
        position: relative;
        pointer-events: none;
      }
      @include media('<=tablet') {
        width: 100%;
      }
      @include media('<=phone') {
        *{
          pointer-events: auto;
        }
      }
    }

    &_slogan,
    &_btn{

      margin: 0 auto;
      letter-spacing: 1px;
      font-size: 13px;
      text-transform: uppercase;
    }
    &_slogan{
      width: 100%;
      max-width: 375px;
      margin-top: 15px;
      @include media('height<minHeight') {
        margin-top: 0px;
      }
    }
    &_btn{
      display: inline-block;
      width: auto;
      color: inherit !important;
      padding: 8px 0;
      text-decoration: none !important;
      border-bottom: 1px solid #222;
      margin-top: 80px;
      @include media('height<minHeight') {
        margin-top: 30px;
      }
    }
  }


  &-footer{
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
    padding: 30px;

    // align-self: flex-end;

    &_addr{
      a{
        text-decoration: none;
        color: inherit;
        cursor: text;
        @include media('<=phone') {
          text-decoration: underline;
        }
      }
    }
    &_email{
      display: inline-block;
      width: 15px;
      height: 15px;
    }
  }
}