html{
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
body{
  font-family: $ffamily;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #222;
  background:#fff;
}


.is-hidden{
  display: none !important;
}